/*Police utilisée Raleway*/
body {
    font-family: Raleway, Arial, sans-serif;
    margin: 40px;
    }

/*header*/

header {
    display: flex;
    justify-content: space-between;
}

header img{
    width: 120px;
}

/*Barre de navigation avec/sans s'inscrire*/

nav ul{
    list-style: none;
    display: flex;
}

nav li{
    margin-right: 30px;
}

a{
    text-decoration: none;
}

/*Effet hover sur barre de navigation*/

/*section recherche*/

h1{
    padding-top: 10px;
    font-size: 1.4em;
}

#slogan{
    margin-top: -10px;
}

.gras{
    font-weight: bold;
}

/*Barre de recherche avec/sans loupe et avec/sans "rechercher*/

.barreRecherche{
    display: flex;
}

.bordureRecherche{
    width: 400px;
    border-radius: 15px;
    border: 0.5px solid #F2F2F2;
}

.recherche{
    height: 50px;
    width: 230px;
    font-size: 18px;
    font-weight: bold;
    color: black;
    padding-left: 20px;
}







form{
    align-items: center;
    display: flex;
    height: 50px;
    padding-bottom: 20px;
    justify-content: start;
    width: 100%;
    box-sizing: border-box;
    margin-top: 10px;
    

}

.icon{
    display: none;
}

button {
    height: 50px;
    background-color:#0065fc;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    box-sizing: border-box;
    padding-inline: 15px;
    border: none;
    color: white;
    font-size: 1.1rem;
    
}

input {
    height: 50px;
    border: #f2f2f2 solid 1px;
    padding-left: 20px;
    width: 250px;

}
input::placeholder{
    font-weight: bold;
    color: black;
    font-size: 1.5em;
}

form i {
    border: solid 1px #deebff;
    padding: 17px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: #f2f2f2;
    box-sizing: border-box;
    height: 50px;

}










/*Icones flex*/

.tailleIcone {
    height: 50px;
    width: 50px;
    border-radius: 15px 0 0 15px;
}

.fondGris {
    background-color: #F2F2F2;
}

.fondBleuFonce{
    background-color: #0065FC;
}

.fondBleuClair{
    background-color: #DEEBFF;
}

.flexCentre {
    display: flex;
    justify-content: center;
    align-items: center;
  }
.bordureNone {
    border: none;
}

.bouttonRecherche{
    height: 50px;
    width: 120px;
    color: white;
    border-radius: 0 15px 15px 0;
}

/*hover recherche*/

.bouttonRecherche:hover{
    transform: scale(1.05);
    box-shadow: 0px 0px 35px #2727278e;

}

.filtres{
    display: flex;
    justify-content: flex-start;
    margin-top: 30px;
    font-size: 1.1em;
}

.filtreIcone{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    color: #0065FC;
    background-color: #DEEBFF;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}

.bordureFiltre{
    padding-right: 20px;
    border-radius: 50px;
    box-sizing: content-box;
    border: 2px solid #F2F2F2;
    border-left: none;
    height: 48px;
    margin-left: 25px;
    cursor: pointer;
}

/*hover filtre*/

.bordureFiltre:hover{
    box-shadow: 0px 0px 35px #dadada;
}

/*petit i en rond avec texte*/

.iTexte{
    display: flex;
    margin-top: 15px;
    align-items: center;
}

.iRond{
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border: 2px solid #F2F2F2;
    margin-right: 10px;
}

.iRond i{
    color: #0065FC;
    font-size: 12px;
}




.etoileBleue{
    color: #0065FC;
}

.etoileGrise{
    color: #dadada;
}

/*hover filtre*/

.bordureFiltre:hover{
    box-shadow: 0px 0px 35px #dadada;
}

nav .deux{
   color: black;
   
}
nav .un{
    padding: 50px;
    border-top: #0065FC solid 2px;
    color: #0065FC;
}


.first-section-main {      /* première section  du main*/
    width: 100%;
    display: flex;
    gap: 20px;
    margin: 30px 0px 20px 0px;
    box-sizing: border-box;

}




.first-block {            /* premier block de la premiere section du main*/
   
    background-color: #f2f2f2;
    border-radius: 25px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    padding: 30px;
    width: 65%;
}

.cadre {               /*conteneur du premier block du main block*/
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}


.first-items-content{

    width: calc(34% - 30px); /* Calcul de la largeur moins l'espacement */
    box-sizing: border-box;
    border: 5px solid white;
    border-radius: 20px;
    transition: transform 0.3s ease;
    height: 180;
    background-color: white;
}
.first-items-content:hover{
   transform: translateY(-5px); /* Animation de léger décalage au survol */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.texte{
    display: flex;
    padding-left: 10px;
    flex-direction: column;
    margin: 10px 0px 10px -2px;
}

    .texte h5{
        margin-top: -2px;
        font-size: 17px;
        font-family: 'Raleway';
    }
    .texte span{
        margin-top: -27px;
        font-size: 15px;
        font-family: 'Raleway';
    }
   

    .texte i {
        width: 5px;
        height: 1px;
        padding: 5px;
       
    }

.imageCarte {
    max-width: 100%;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    box-sizing: border-box;
    
}

/* duexième block de la première section */

.contenant {
    width: 100%;
    border-radius: 20px;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    /* height: 180px; */
    flex-direction: column;

}


.flex {
   
border: 5px solid white;
    height: 140px;
    display: flex;
    gap: 30px;
    border-radius: 20px;
    display: flex;
    gap: 30px;
    width: calc(100% - 30px);
    /* Calcul de la largeur moins l'espacement */
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f2f2f2;
    transition: transform 0.3s ease;
   


}



.galerieActivite{
    display: flex;
    justify-content: space-between;
    height: 460px;
    gap: 30px;
    width: 100%;
    margin-bottom: 40px;
}

#Activités{
    margin-bottom: 50px;
}

#Activités h2{
    margin-top: 50px;
}

.vignetteActivite{
    border-radius: 20px;
    background-color: white;
    box-shadow: 0px 0px 35px #dadada;
    width: 25%;
    min-width: 150px;
    cursor: pointer;
}

.vignetteActivite:hover, .vignetteMini:hover{
    transition: 0.1s ease-in-out;
    transform: scale(1.03);
    box-shadow: 0px 0px 35px #2727278e;
}

.vignetteActiviteDouble{
    width: 25%;
    min-width: 150px;
}

.vignetteMini{
    border-radius: 20px;
    background-color: white;
    box-shadow: 0px 0px 35px #dadada;
    min-width: 150px;
    cursor: pointer;
    padding-bottom: 0.1px;
}

.imgActivite{
    border-radius: 20px 20px 0 0;
    padding-top: 410px;
    background-size: cover;
    background-position: center;
}

.galerieActivite p{
    font-weight: bold;
    margin-left: 20px;
}

#vieuxPort{
    background-image: url('aset/images/reno-laithienne-QUgJhdY5Fyk-unsplash.jpg');
}

#pomegues{
    background-image: url('aset/images/paul-hermann-QFTrLdQIRhI-unsplash.jpg');
    padding-top: 210px;
}

#frioul{
    background-image: url('aset/images/kevin-hikari-rV_Qd1l-VXg-unsplash.jpg');
    padding-top: 120px;
    margin-top: 30px;
}

#calanques{
    background-image: url('aset/images/kilyan-sockalingum-NR8-cBCN3aI-unsplash.jpg');
}

#notreDame{
    background-image: url('aset/images/florian-wehde-xW9e8gdotxI-unsplash.jpg');
    padding-top: 160px;
}

#longchamp{
    background-image: url('aset/images/lena-paulin-wH2-EJoDcV0-unsplash.jpg');
    padding-top: 170px;
    margin-top: 30px;
}




/*footer*/


footer{
    background-color: #f2f2f2;
    padding: 15px 0px 15px 0px;
}
footer ul li{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 5px;
    
}
footer ul{
    display: flex;
    gap: 10px;
    justify-content:space-between;
    padding-right: 300px;
    box-sizing: border-box;
}




@media all and (max-width: 387px) {

    body{ 
        width: 100%;
        margin: 15px;
        box-sizing: border-box;
        overflow: scroll;
  
    }
    header{
        width: 100%;
        margin: 15px;
        box-sizing: border-box;
        overflow: hidden;
   
    }
    }
 



@media all and (max-width: 500px) {
    header ul li a:hover {
        border-top: none;
      
    }
    body{ 
        width: 100%;
    }


    header ul li .un {
        border-bottom: 4px solid #0065fc;
        padding-bottom: 20px;
        border-top: none;
        
    }
    header .deux {
        border-bottom: 4px solid #f0f0f2;
        padding-bottom: 20px;
        border-top: none;
        display: block;
  
    }
    }







    
@media all and (max-width: 992px) {
    body {
        width: 93%;
        margin: 15px;
        
    }
    
header nav ul{
    display: flex;
    justify-content: space-between;
    width: 100%;
    
}

    header ul li .un {
        border-top: none;
        margin-left: -30px;
    }
    header ul li .deux {
        border-top: none;
        margin-right: -10px;
  
    }



    header{
        font-size: 1.3em;
        display: initial;
    }
    
    header img{
        
        width:160px;
      margin-left: 40%;
      background-color:yellow ;

    }

    nav {
        display: flex;
        justify-content: space-between;
        width: 100%;
        padding: 0;
    }

    nav a{
        color: black;
    }

    nav ul{
        padding: 0;
        width: 100%;
    }

    nav ul li{
        margin: 0;
        padding: 0;
        padding-bottom: 20px;
        width: 50%;
        text-align: center;
    } 

    .filtres{
        width: auto;
        display: flex;
        flex-wrap: wrap
    }
    
    #retourLigne{
        width: 200px;
    }

    .filtreIcone{
        height: 65px;
        min-width: 65px;
        margin-right: 15px;

    }
    
    .bordureFiltre{
        height: 59px;
        margin-top: 20px;
        border: 3px solid #F2F2F2;
        margin-left: 0px;
        margin-right: 15px ;
        border-left: none;
    }
    
    .iTexte{
        margin-top: 15px;
    }
    
    .iRond{
        height: 30px;
        min-width: 30px;
        margin-right: 20px;
        border: 3px solid #F2F2F2;
    }
    
    .iRond i{
        font-size: 16px;
    }

    h2{
        font-size: 2em;
    }

    .galerieActivite{
        flex-direction: column;
        height: auto;
        margin-bottom: 20px;
        box-sizing: border-box;
    }

    .vignetteActivite{
        width: auto;
    }

    .vignetteActiviteDouble{
        width: 100%;
    }

    .imgActivite{
        padding-top: 200px;
        box-sizing: border-box;
    }

    #pomegues{
        padding-top: 200px;
        box-sizing: border-box;
    }

    #frioul{
        padding-top: 200px;
        box-sizing: border-box;
    }

    #notreDame{
        padding-top: 200px;
        box-sizing: border-box;
    }

    #longchamp{
        padding-top: 200px;
        box-sizing: border-box;
    }

    .vignetteActivite p{
        font-size: 1.4em;
    }
    footer ul{
        width: 100%;
        display: flex;
       flex-wrap: wrap;
    
      }

  }